* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    font-family: 'Fjalla One', sans-serif;
}

.caixa1,
.caixa2 {
    min-height: 100%;
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.caixa1 {
    background-image: url(img3.jpg);
}

.caixa2 {
    background-image: url(img1.jpg);
}

.titulo {
    position: absolute;
    top: 50%;
    width: 100%;
    text-shadow: 5px 5px, 15px #100126;
    text-align: center;
    color: white;
    font-size: 25px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.text-light {
    font-size: 20px;
    text-align: center;
    padding: 50px 80px;
    background-color: #f4f4f4;
    color: #666;
}

.text-dark {
    font-size: 20px;
    text-align: center;
    padding: 50px 80px;
    background-color: rgb(19, 17, 17);
    color: white;
}
